<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/home.css">
    <title>Formulário para cadastro de usuários</title>
</head>

<body>
    <h1>Formulário para cadastro de usuários</h1>
    <section>
        <% if(errors) { %>
            <ul>
                <% for(let i=0; i < errors.length; i++){ %>
                    <li>
                        <%= errors[i].msg %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
    </section>
    <form action="/cadastroUsuario" method="post">
        <input type="text" name="usuario" placeholder="Digite o seu usuário" value="<%= userRegister.usuario%>"><br><br>
        <input type="text" name="email" placeholder="Digite o seu email" value="<%= userRegister.email %>"><br><br>
        <input type="password" name="password" placeholder="Digite sua senha" value="<%= userRegister.password %>"><br><br>
        <input type="hidden" name="id" value="<%= userRegister.userid%>">
        <input type="submit" value="Enviar">
    </form>

</body>

</html>