<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/home.css">

    <title>Museu Virtual</title>
</head>

<body>

    <h1>Museu Virtual</h1>
    <div>
        <% for (let i=0; i<paintings.length; i++) {%>
            <div class="card">
                <a href="/home?idobra=<%= paintings[i].idobra %>"><img src="<%= paintings[i].urlimagem %>"
                        class="card-image" alt="<%= paintings[i].nome %>"></a>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= paintings[i].nome %>
                    </h5>
                    <p class="card-text">
                        <%= paintings[i].artista %>
                    </p>
                    <p class="card-comentarios">
                        <%= paintings[i].comentarios %>
                    </p>
                </div>
            </div>
            <hr />
            <% } %>
    </div>

</body>

</html>