<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Formulário de Inclusão de Obra de Arte</title>
</head>

<body>
    <h1>Formulário para inclusão de obra de arte</h1>
    <section>
        <% if(errors) { %>
            <ul>
                <% for(let i=0; i < errors.length; i++){ %>
                    <li>
                        <%= errors[i].msg %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
    </section>
    <form action="/salvaObra" method="post">
        <input type="text" name="nome" placeholder="Digite o nome da obra" value = "<%= painting.nome %>" >
        <input type="text" name="artista" placeholder="Digite o nome da autora ou autor da obra" value = "<%= painting.artista %>"><br><br>
        <label>Comentários sobre a obra</label><br>
        <textarea name="comentarios" value = "<%= painting.comentarios %>"></textarea><br><br>
        <input type="number" name="ano" placeholder="Digite o ano da obra" value = "<%= painting.ano %>">
        <input type="text" name="urlimagem" placeholder="Digite o url da imagem" value = "<%= painting.urlimagem %>"> 
        <input type="submit" value="enviar">
    </form>

</body>

</html>